
$body-color: rgba(#000, 0.6);

$header-image: "images/icon.png";
$device-color: rgba(#000, 0.6);

$accent-color: rgba(#000, 0.6);

$header-title-color: rgba(#000, 0.6);
$app-title-color: rgba(#000, 0.6);
$app-price-color: rgba(#000, 0.6);
$app-description-color: rgba(#000, 0.6);

$feature-title-color: rgba(#000, 0.6);
$feature-text-color: rgba(#000, 0.6);
$footer-text-color: rgba(#000, 0.6);

$header_color: rgba(#000, 0.6);
$header_transparency: rgba(#000, 0.6);

$image-overlay-color: rgba(#000, 0.6);
$image-overlay-transparency: rgba(#000, 0.6);

$feature-icons-foreground-color: rgba(#000, 0.6);
$feature-icons-background-color: rgba(#000, 0.6);

$social-icons-foreground-color: rgba(#000, 0.6);
$social-icons-background-color: rgba(#000, 0.6);
