
$body-color: "#ffffff";

$header-image: "";
$device-color: "#ffffff";

$accent-color: "#ffffff";

$header-title-color: "#ffffff";
$app-title-color: "#ffffff";
$app-price-color: "#ffffff";
$app-description-color: "#ffffff";

$feature-title-color: "#ffffff";
$feature-text-color: "#ffffff";
$footer-text-color: "#ffffff";

$header_color: "#ffffff";
$header_transparency: "#ffffff";

$image-overlay-color: "#ffffff";
$image-overlay-transparency: "#ffffff";

$feature-icons-foreground-color: "#ffffff";
$feature-icons-background-color: "#ffffff";

$social-icons-foreground-color: "#ffffff";
$social-icons-background-color: "#ffffff";
