
$body-color: #fff;

$header-image: "images/icon.png";
$device-color: #fff;

$accent-color: #fff;

$header-title-color: #fff;
$app-title-color: #fff;
$app-price-color: #fff;
$app-description-color: #fff;

$feature-title-color: #fff;
$feature-text-color: #fff;
$footer-text-color: #fff;

$header_color: #fff;
$header_transparency: #fff;

$image-overlay-color: #fff;
$image-overlay-transparency: #fff;

$feature-icons-foreground-color: #fff;
$feature-icons-background-color: #fff;

$social-icons-foreground-color: #fff;
$social-icons-background-color: #fff;
